/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.nav-item .nav-link.active{
    color: #fff;
    background-color: #ff5202;
    border-color: #ff5202;
}

.ck-editor__editable_inline {
    min-height: 300px;
 }