@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../public/assets/css/bootstrap.min.css';
@import '../../public/assets/css/owl.carousel.min.css';
@import '../../public/assets/css/font-awesome.min.css';
@import '../../public/assets/css/aos.css';
@import '../../public/assets/css/swiper.min.css';
@import '../../public/assets/css/jquery.fancybox.min.css';
@import '../../public/style.css';

.nav-item .nav-link.active{
    color: #fff;
    background-color: #ff5202;
    border-color: #ff5202;
}

.ck-editor__editable_inline {
    min-height: 300px;
 }
